<html>
     <body>
         <p>Hi,</p>
         <p style="margin-left:20px">
            <%= AssetType %> No. <%= AssetNumber %> From <%= FromLocation %> To <%= ToLocation %>.
         <br>Total Value INR <%= TotalAmount %> submitted for your approval.</p>
         <p>Regards,<br>LTC</p>
     </body>
 </html>
 
 
 


