
 <html>
     <body>
         <p style="color: #0b3263;">Hi,</p>
         <p style="margin-left:20px;color: #0b3263;">
           MRN Number <%= MRN %> (Transfer Order No. <%=TransferOrderNo %> ) From  <%= FROM_ORGANIZATION_NAME %> (<%= From_Locator %>) To <%= TO_ORGANIZATION_NAME %> (<%= To_Locator %>).
            <br> MRN Number has been approved. This is <%=Shipmenttype%> Shipment.</p>
         <p style="font-family: Calibri; color: #0b3263;">
            For further information, please log into 
            <a href=<%= ui_url %>> <%= ui_url %> </a>
        </p>
         <p style="color: #0b3263;">Regards,<br>LTC</p>
     </body>
 </html>